<ion-side-menus enable-menu-with-back-views="false" >    
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-header-bar class="bar-stable">
            <h1 class="title">{{app.roomname}}</h1>
        </ion-header-bar>

        <style>
            #body-container {
                width: 100%;
            }
            .chat-container {

            }
            #chatkeyboard{
                //position: absolute;
                //bottom: 40px;
            }
            #chat-panel {}
        </style>

        <ion-content id="body-container">
            <div id="chat-panel" class="col" scroll-glue >
                <div class="chat-container" ng-controller="Messages as msgs">
                    <chatist mgs="app.messages"></chatist>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar id="chatkeyboard" keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="msgs.message" on-focus="inputUp()" on-blur="inputDown()" />
            </label>
            <button class="button button-clear" ng-click="msgs.sendMessage(app.user)">
                Send
            </button>
        </ion-footer-bar>
    </ion-side-menu-content>

    <ion-side-menu side="right" >            
        <ion-tabs class="tabs-icon-top tabs-color-active-positive">
            <!-- Dashboard Tab -->
            <ion-tab title="Room" icon-off="ion-chatbox" icon-on="ion-chatbox-working" href="#/app/room">
                <ion-nav-view name="room"></ion-nav-view>
            </ion-tab>

            <!-- Chats Tab -->
            <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/chats">
                <ion-nav-view name="tab-chats"></ion-nav-view>
            </ion-tab>

            <!-- Account Tab -->
            <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/account">
                <ion-nav-view name="tab-account"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-side-menu>
</ion-side-menus>


<!--ion-nav-view name="menuContent"></ion-nav-view>      

<ion-header-bar class="bar-stable">
<h1 class="title">Left</h1>
</ion-header-bar>
<ion-content>
<ion-list>
<ion-item nav-clear menu-close ng-click="login()">
    Login
</ion-item>
<ion-item nav-clear menu-close href="#/app/search">
    Search
</ion-item>
<ion-item nav-clear menu-close href="#/app/browse">
    Browse
</ion-item>
<ion-item nav-clear menu-close href="#/app/playlists">
    Playlists
</ion-item>
</ion-list>


<ion-header-bar class="bar-stable">
    <h1 class="title">Left</h1>
</ion-header-bar>
<ion-tabs class="tabs-positive tabs-icon-only">
    <style>
        .sidemenutab { padding-top: 43px; }
        .right { float: right }
    </style>
    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <ion-content class="sidemenutab row" >
            <h1 class="col">Dash</h1>
            <a class="button button-icon icon ion-settings right"></a>
        </ion-content>
    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <ion-content class="sidemenutab" >
            <h1>Dash</h1>
        </ion-content>
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-content class="sidemenutab" >
            <h1>Dash</h1>
        </ion-content>
    </ion-tab>

</ion-tabs>
</ion-content-->