<ion-view view-title="Room">
    <style>
        #roomlogin:hover {
            color: #0a9ec7;
        }
    </style>    
    <ion-header-bar class="bar-stable">
        <h1 class="col" style="margin-top: -8px;">Room</h1>
        <a id="roomlogin" class="button button-icon icon ion-share col" ng-click="shareRoom()"></a>
        <a id="roomlogin" class="button button-icon icon ion-log-in right"></a>
    </ion-header-bar>
    <ion-content class="padding">
        <people-list></people-list>
    </ion-content>
</ion-view>
