<ion-view view-title="Room">
    <style>
        #roomlogin:hover {
            color: #0a9ec7;
        }
    </style>    
    <ion-header-bar class="bar-stable">
        <h1 class="col" style="margin-top: -8px;">Room</h1>
        <a id="roomlogin" class="button button-icon icon ion-share col" ng-click="shareRoom()"></a>
        <a id="roomlogin" class="button button-icon icon ion-log-in right"></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
