<div id="page-container">
    <style>
        #page-container {  
            top: 0;
            left: 0;
            right: 0;
            bottom: 0px;
            margin: 0;
            display: flex;
            flex-flow: column nowrap;
            flex-align: center;
            justify-content: space-around;
            background-color: black;
            max-width: 310px;
            height: 100%;
            overflow: hidden;
        }
        .componenent { 
            display: table;
            bottom: 44px;
            float: left;
            margin: 0;
            padding: 0 0px;
            width: 310px;
            max-width: 310px;
            background-color: white;
            border-style: inset; 
            border-width: 1px; 
            height: auto;
            overflow: auto;
            background-color: pink;
        }
    </style>    
    <div class="componenent" ng-include="page.pageref.template">
    </div>     
</div>