<div id="body-container">

    <style>
        #body-container {  
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            bottom: 88px;
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            flex-align: center;
            justify-content: space-around;
            background-color: black;
            width: 650px;
        }

        .slider {
            height: 100%;
        }
        .slider-slide {
            padding-top: 80px;
            color: #000;
            background-color: pink;
            text-align: center;

            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
            font-weight: 300;
            width: 640px;
        }

        #logo {
            margin: 30px 0px;
        }
        .slide {
            width: 550px;
        }
    </style>

    <ion-slide-box on-slide-changed="app.slideChanged(index)" show-pager="false">
        <ion-slide class="slide">
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
                <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
                We've worked super hard to make you happy.
            </p>
            <p>
                But if you are angry, too bad.
            </p>
        </ion-slide>

        <ion-slide>
            <h3>Using Awesome</h3>

            <div id="list">
                <h5>Just three steps:</h5>
                <ol>
                    <li>Be awesome</li>
                    <li>Stay awesome</li>
                    <li>There is no step 3</li>
                </ol>
            </div>
        </ion-slide>

        <ion-slide>
            <h3>Any questions?</h3>
            <p>
                Too bad!
            </p>
        </ion-slide>
    </ion-slide-box>
</ion-view>
</div>