<div id="body-container">

    <style>
        #body-container {  
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            bottom: 88px;
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            flex-align: center;
            justify-content: space-around;
            background-color: black;
        }
        .componenent-container { 
            display: table;
            bottom: 44px;
            float: left;
            margin: 0;
            padding: 0 0px;
            width: 620px;
            background-color: white;
            border-style: inset; 
            border-width: 1px; 
            height: 100%;
            overflow: auto;
        }        
    </style>
    
    <div class="componenent-container" ng-repeat="p in app.pages">
        <page pageid="p.id"></page>
    </div>    

    
</div>